body{
  background-color: #FD6533;
/* #8F4B4B   */
}

section{
  display:block;
  margin:auto;
  max-width:500px;
  margin-top: 100px;
  background-color:#FFFF;
  padding:15px;
  border: 1px solid black;
}


div{
  margin: 15px;
  border: 1px solid black;
  background-color:#bac3d6;
  }   

img{
height:150px;
width:150px;
border-radius:10%;
display:block;
margin-left:auto;
margin-right:auto;
}